.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn {
    padding: 11px 22px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
}

.btn:hover{
    font-weight: bold;
}

.my-1{
    margin: 8px 0;
}
.my-2{
    margin: 27px 0;
}

.text-center{
    text-align: center;
}